h1 {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  text-align: center;
}

main {
  margin-bottom: 1em;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #FFFFFF;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0em;
  margin-bottom: 0em;
}

nav ul li {
  width: 15em;
  text-align: center;
  padding: 1em 0em;
  opacity: 0.5;
  transition: opacity 0.5s, background 0.5s;
}

nav ul li:hover {
  background: #e6e6ff;
  opacity: 1;
}

nav a {
  text-decoration: none;
  color: #000000;
}

#activo {
  background: #ccccff;
}

header {
  margin-top: 10em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 31px;
}

p, a, label {
  font-family: 'Dosis', sans-serif;
  font-size: 1.25em;
}

header p {
  padding: 0em 5em;
}

header p:last-of-type {
  padding-bottom: 1em;
}
